body,
[class*="text-"] {
  font-family: "Montserrat Variable", sans-serif !important;
}

.material-icons {
  font-family: "Material Icons", sans-serif !important;
}

h1,
.text-h1 {
  font-weight: 400;
  font-size: 2rem !important;
  line-height: 2.4rem;
}

h2,
.text-h2 {
  font-weight: 400;
  font-size: 1.5rem !important;
  line-height: 1.875rem;
}

h3,
.text-h3 {
  font-weight: 400;
  font-size: 1.25rem !important;
  line-height: 1.5rem;
}

h4,
.text-h4 {
  font-weight: 400;
  font-size: 1rem !important;
  line-height: 1.5rem;
}

.text-body-1 {
  font-weight: 400;
  font-size: 1rem !important;
  line-height: 1.25rem;
  letter-spacing: -0.04rem !important;
}

.text-body-2 {
  font-weight: 400;
  font-size: 0.75rem !important;
  line-height: 1.125rem;
  letter-spacing: -0.04rem !important;
}

.text-body-3 {
  font-weight: 400;
  font-size: 0.625rem !important;
  line-height: 1.125rem;
  letter-spacing: -0.02rem !important;
}

.text-tiny {
  font-size: 0.6875rem !important;
  line-height: 1rem !important;
  letter-spacing: normal !important;
}

.link-btn {
  font-size: 0.6875rem !important;
  line-height: 1.0625rem !important;
  letter-spacing: normal;
  .v-btn__content {
    text-decoration: underline;
    text-transform: none;
  }
}

.font-weight-semiBold {
  font-weight: 600 !important;
}
